.popup__container {
  position: fixed;
  top: calc(50% - 165px);
  left: calc(50% - 220px);
  /*transform: translateX(-50%);*/
}

@media screen and (max-height: 450px) {
  .popup__container {
    top: 8%;
  }
}